.container {
  display: flex;
  min-height: 100vh;
  background: #f8fafc;
}

.main {
  flex: 1;
  margin-left: 260px;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main {
    margin-left: 80px;
  }
}


